* {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  /* NavigationBar to make it sticky at the top with a z-index of 10 */
#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .sticky {
    position: fixed;
    top: 50%;
  }
  
  .navbar{
      padding-left: 50px;
  }


  .navbar-brand img {
    height: 60px;
    padding-left: 30px;
  }
  
  .navbar-nav li {
    padding: 20px 10px;
  }
  
  .navbar-nav li a {
    float: left;
    text-align: left;
  }
  
  #nav-bar ul li a:hover {
    color: lightskyblue !important;
  }
  
  .navbar-toggler {
    border: none !important;
    color: black;
  }
  
  .nav-link {
    color: #555 !important;
    font-weight: 600;
    font-size: 16px;
  }


  @media only screen and (max-device-width : 768px) {
    .navbar-nav li {
        padding: 0px;
      }
  }